<% provide(:title, "About") %>
      <h1>About</h1>
      <p>
        This website is dedicated to the internal needs I believe we all share on some level. That of the desire to
        change the world and to not feel so isolated anywhere we are.
      </p>
