    <div class="center jumbotron block-center">
      <h2> Welcome to <i>Revolutions</i>, a site dedicated to starting, highlighting and cultivating social movements and intitiatives in your area and the world. <br> <br>Take a look: </h2>
      <center><div class="map_display_outer">
        <div id="geolocation" class="map_display_inner"></div>
      </div></center>
    </div>
    <div class="center jumbotron">
      <h3>Start your movement <%= link_to "here", signup_path %>.</h3>
      <br> <br>
      <div class="site_description">
      <p>
        What does it take to motivate real, lasting social change? How can push against the inertia of the world forcing
        us into a calm resignation to the events around us?
      </p>

      <p>
        The hope of this site is that much can be accomplished if one does not need to push alone. I hope that together
        we can bring about change, this site is a tool to help.
      </p>

      <p>
        Below are all the movements started by the users of this site represented visually. When you join, every member of the
        site will be able to sed the movements you start. They will be able to join and interact with you. Together it is
        our hope that we can organize and find people inspired enough to effect real, meaningful change.
      </p>

      <p>
        To start, just select an area and give a description. Every user of the site will be able to see your movement on
        the map below. They will be able to join and discuss your idea. You will have access to other like minded individuals,
        and together (or so is my hope) we can begin to change the world one small neighborhood or large city at a time.
      </p>
      </div>


      </div>

    <script src="//maps.google.com/maps/api/js?v=3.18&sensor=false&client=&key=&libraries=geometry&language=&hl=&region="></script>
    <script src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"></script>
    <script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/infobox/1.1.9/src/infobox_packed.js' type='text/javascript'></script> <!-- only if you need custom infoboxes -->
      <script type="text/javascript">
        var handler = Gmaps.build('Google');
        handler.buildMap({ internal: {id: 'geolocation'} }, function(){
          if(navigator.geolocation)
            navigator.geolocation.getCurrentPosition(displayOnMap);
        });

        function displayOnMap(position){
          var marker = handler.addMarker({
            lat: position.coords.latitude,
            lng: position.coords.longitude
          });
          handler.map.centerOn(marker);
        };
    </script>
